@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?irp4vm');
  src:  url('../fonts/icomoon.eot?irp4vm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?irp4vm') format('truetype'),
    url('../fonts/icomoon.woff?irp4vm') format('woff'),
    url('../fonts/icomoon.svg?irp4vm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user-circle-o:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e900";
}
.icon-profile:before {
  content: "\e923";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-circle-left:before {
  content: "\ea44";
}